
@media (prefers-color-scheme: light) {
    :root {
        --title-color: #FFC2E6;
        --primary-color: #353430;
        --secondary-color: #353430;
        --accent-color: #ff8dcb;
        --accent-text-color: #353430;
        --bg-image: url(../images/cover-image-light.png);
        --button-hover-outline: #32312d66;
        --rec-display: none;
    }
}
  
.page.theme_light {
    --title-color: #FFC2E6;
    --primary-color: #353430;
    --secondary-color: #353430;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --button-hover-outline: #32312d66;
    --rec-display: none;
} 