.page {
    margin: 0;
    background-color: var(--background);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'IBM Plex mono', sans-serif;
}

.content {
    --padding: 20px;
    width: 100vw;
    color: var(--primary-color);
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    padding: var(--padding);
}

.header {
    align-items: center;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "theme-menu"
    "title"
    "article";
    min-height: 768px;
}

.header__text {
    grid-area: article;
    justify-self: flex-end;
    font-weight: bold;
    background-color: var(--accent-color);
    width: calc((100%) / 2);
    color: var(--secondary-color);
}

.rec {
    display: var(--rec-display);
    position: absolute;
    top: var(--padding);
    right: calc(var(--padding) + 25px);
    color: var(--accent-text-color);
}

.rec::after {
    content: '';
    position: absolute;
    top: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px var(--accent-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 0px 4px var(--accent-color));
    right: -16px;
    width: 9px;
    height: 9px;
}

.header__theme-menu {
    grid-area: theme-menu;
    justify-self: center;
    align-self: flex-start;
}

.header__theme-menu ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header__theme-menu-button_active {
    outline: 1px solid var(--accent-text-color);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover-outline);
    cursor: pointer;
} 

.header__theme-menu-button:focus {
    outline: none;
}
.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-text-color);
    outline: none;
}

.header__theme-menu-button {
    height: 26px;
    border: none;
    padding: 0 13px;
    color: var(--accent-text-color);
    line-height: 100%;
    text-transform: lowercase;
    background-color: transparent;
}

.header__theme-menu-button_active {
    pointer-events: none;
}

.title {
    position: relative;
    left: calc(var(--padding) * (-1));
    grid-area: title;
    color: var(--title-color);
    font-weight: bold;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
}

.header .title {
    text-shadow: 4px 4px 0 var(--shadow-color);
}

.main.content {
    padding: 60px var(--padding);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.info-block {
    display: grid;
    gap: 20px;
}

.info-block > h2:first-child {
    color: var(--accent-text-color);
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
}

.info-block:has(.row-type-list) > h2:first-child {
    width: calc(100% / 3);
}

.row-type-section {
    grid-template-columns: calc((100% / 3) - 13px) calc((100% * 2 / 3) - 7px);
}


.info-block ul {
    display: grid;
    gap: 20px;
}

.info-block ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-block ul li h3 {
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--accent-color);
}
.info-block ul li h4 {
    color: var(--secondary-color);
    font-weight: inherit;
    background-color: var(--accent-color);
}

.row-type-list {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
}

.link:focus-visible {
    outline: 1px solid var(--primary-color);
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.gallery img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery > h2 {
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--accent-color);
}

.gallery ul {
    display: grid;
    gap: var(--padding);
    padding: 0;
    margin: 0;
    list-style-type: none;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "first first second"
    "third fourth second"
    "third fifth fifth";
}

.gallery ul li:nth-child(1) {
    grid-area: first;
}

.gallery ul li:nth-child(2) {
    grid-area: second;
}

.gallery ul li:nth-child(3) {
    grid-area: third;
}

.gallery ul li:nth-child(4) {
    grid-area: fourth;
}

.gallery ul li:nth-child(5) {
    grid-area: fifth;
}

.footer {
    display: flex;
    position: relative;
    min-height: 768px;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.footer .title {
    text-shadow: 2px 2px 0 var(--shadow-color);
}

.footer::before, 
.header::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: var(--padding);
    left: var(--padding);
    border-bottom: 1px solid var(--accent-text-color);
    border-left: 1px solid var(--accent-text-color);
}

.footer::after,
.header::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: var(--padding);
    right: var(--padding);
    border-top: 1px solid var(--accent-text-color);
    border-right: 1px solid var(--accent-text-color);
}

/* Adaptive */

@media (max-width: 1023px) {
    .header,
    .footer {
        min-width: 768px;
        min-height: 1024px;
    }

    .info-block:has(.row-type-list) > h2:first-child {
        width: calc(100% / 4);
    }
    
    .row-type-section {
        grid-template-columns: calc((100% / 3) - 6px) calc((100% * 2 / 3) - 14px);
    }
    
    .row-type-list {
        grid-auto-flow: row;
    }
    
    .header__theme-menu {
        justify-self: flex-end;
        align-self: center;
    }
    .header__theme-menu ul {
        flex-direction: column;
    }
}
    
@media (max-width: 767px) {
    .content {
        --padding: 10px;
    }

    .header,
    .footer {
        min-width: 375px;
        min-height: 668px;
    }
    
    .title {
        left: 0;
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }


    .main {
        gap: 50px;
    }
    
    .info-block {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
    
    .info-block:has(.row-type-list) > h2:first-child {
        width: auto;
    }
    
    .header__text {
        width: 100%;
    }
    
    .main.content {
        padding: 40px var(--padding);
    }

    .gallery ul {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
        grid-template-areas: none;
    }

    .gallery ul li:nth-child(1),
    .gallery ul li:nth-child(2),
    .gallery ul li:nth-child(3),
    .gallery ul li:nth-child(4),
    .gallery ul li:nth-child(5) {
        grid-area: auto;
    }
}